<h1>Entrar</h1>

<form action="/admin" method="POST">
    <label for="username"><b>Usuário</b></label>
    <input type="text" placeholder="Insira o usuário" name="username">

    <label for="password"><b>Senha</b></label>
    <input type="password" placeholder="Insira a senha" name="password">

    <input type="submit" value="Login" class="btn">
</form>