<header class="header">
    <a href="/" class="header__logo">Painel de administração</a>

    <nav class="header__nav">
        <ul>
            <li>
                <a href="/">Inicio</a>
            </li>
            <li>
                <a href="/about">Sobre</a>
            </li>
            <li>
                <a href="/contact">Contato</a>
            </li>
        </ul>
    </nav>
    <div class="header__button">
        <a href="/logout">
            Sair
        </a>        
    </div>

</header>