<div>
    <h2>Sobre o Recifran</h2>
    <p> 
        O Serviço Franciscano de Solidariedade (<b>Sefras</b>) 
        faz a gestão de um dos Serviços de Inclusão Social e 
        Produtiva da SMDHC. Localizado no centro de São Paulo 
        (R. Junqueira Freire, 176 - Liberdade), o <b>Recifran</b>
        tem como objetivo a reinserção social e produtiva das 
        pessoas em situação de rua. O equipamento oferta 
        capacitação profissional para geração de renda como 
        porta de saída da rua a 50 pessoas. <br>
    </p>
    <p>
        Durante o período de pandemia, o Sefras também ampliou 
        seu trabalho, inaugurando a <b>Casa Franciscana</b>, na região 
        do Cambuci. Como resposta à emergência, distribui 
        alimentos, 600 refeições diárias, e realiza ações de
        assistência social de pessoas em situação de rua, devido
        o aumento do grupo na região.
    </p>
    <p><b>Horário</b>: segunda a sexta-feira, das 09h00 às 18h00.</p>
</div>