<div>
    <h2>Contato</h2>
    <p>
    <b>Serviço Franciscano de Apoio a Reciclagem (Recifran).</b> <br>
    Rua Junqueira Freire, 176 - Liberdade - São Paulo - SP - CEP 01507-020. <br>
    Tel: (11) 3209-4112
    </p>

    <p>
    <b>Sefras - Chá do Padre</b> <br>
    Rua Riachuelo, 268 – Centro – São Paulo – SP - CEP 01005-010. <br>
    Tel: (11) 3105-1623
    </p>

    <p>
    <b>Casa Franciscana</b> <br>
    Rua dos Pescadores, 97  - Cambuci - São Paulo - SP - CEP 01517-000 <br>
    Tel: (11)  3277-0606. 
    </p>

    <p>
    <b>Casa Franciscana - Rio de Janeiro</b>  <br>
    R. Visc. da Gávea, 125 - Centro, Rio de Janeiro - RJ, 20221-400
    </p>
</div>